* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: max-content;
}

html, body {
    min-height: 100vh;
}

.bg-estoque {
    background: #11f !important;
}

/* Navibar */
.navbar-dark .navbar-nav .nav-link .link-menu {
    
    color: #ffffff !important;
    font-weight: 500;
    font-size: 1.1rem;
}

.conteudo {
    flex: 1 0 auto;
    margin-top: 6rem !important;   
}

.exibicao {
    width: 100px;
    height: 100px;
}

.avatar {
    margin: 1.5rem 0;
}
.avatar img{
    width: 200px;
    height: 200px;
    
}

.leftlogin{    
    width: 50%;
    height: 100vh; 
}
.leftlogin img{
    max-height: 100vh;
}
.rightlogin {
    background: #11f;
    width: 50vw;
    height: 100vh;
}
.rightlogin .loginArea {
    height: 100vh;    
    color: #FFF;
    display: flex;
    justify-content:center;
    align-items: center;
}
.rightlogin .loginArea form a {
    text-decoration: none;
    color: #FFF;
}

@media (max-width: 680px) {
    .leftlogin{    
        display: none; 
    }
    .rightlogin {
        background: #11f;
        width: 100vw;
        height: 100vh;
    }

    .editar {
        display: block !important;
    }
    .leftside .avatar{
       text-align: center;
    }
}